/*Reset CSS*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/*End reset*/

body 
{
	font: 14px Georgia, Arial, Helvetica, sans-serif;
	margin-top:0px;
	margin-bottom:0px;
	background-color:#660000;
}
#gui
{
	border: ridge #444444;
	padding:15px;
	margin-bottom:10px;
	font: 11px/1.5em Verdana;
	
}

#topblock {
width:800px;
margin-left:auto;
margin-right:auto;
margin-top:0px;
margin-bottom:0px;
border-left:6px #cc6666 solid;
border-right:6px #cc6666 solid;
border-top:6px #cc6666 solid;
border-bottom:6px #cc6666 solid;
background-color:White;
padding:15px;
}

#footer 
{
	border-top:solid 2px black;
}

h2 
{
	font: bold 20px Georgia, Arial, Helvetica, sans-serif;
	color:#660000;
	border-bottom:solid 2px black;
}

h3 {
	font: 15px/1.5em Verdana;
	font-weight:bold;
	color: #000;
	}
	
strong {
	font: bold 11px/1.5em Verdana;
			
}

p {padding:1em 0}


a {
color:#881c1c;

text-decoration:none;
}

a:hover {
color:#881c1c;
text-decoration:underline;

}

ul {
padding-left:15px;
list-style-type:disc;
}

ol {
padding-left:15px;
list-style-type:lower-roman;	
}

ol li 
{
	margin-bottom:5px;
	margin-top:5px;
}

.underline 
{
	text-decoration:underline;
	font-weight:bold;
	
}
ul li 
{
	margin-bottom:5px;
	margin-top:5px;
}



